<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Questionnaire GI</title>
</head>
<body>
    <h1>Questionnaire</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p style="color: green">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </p>
        <p>
            {{ form.response.label }}<br>
            {{ form.response(rows=5, cols=40) }}
        </p>
        <p>
            {{ form.consent() }} {{ form.consent.label }}
        </p>
        <p><input type="submit" value="Envoyer"></p>
    </form>
</body>
</html>
